sudo: false

language: python

# setup caching
cache: pip

# install tox
install:
- pip install tox

# select tox envs to run
matrix:
  include:
  - python: '3.6'
    env: TOXENV=py36
  - python: '3.6'
    env: TOXENV=lint

# run tox
script:
- tox

# deploy 
deploy:
  provider: pypi
  user: spotifysecurity
  password:
    secure: "vblI7dc+BbtccAJaXHyb9gzSPjIf9spiEsIlvIHBk6uJHIUmj7YMww8dwN3jTDT374KId28kHWAZu4P29DBQNBqGpQjZWlO2tla/1C3fzzN6vIxz3NhgQ/JCXKLs3PIq4p7JFwwagUGL22p8KkQiOGc7z7Z9yrYy8ybM9PKXCpUzeCN3wCtcUG/P5WBJuBaL79hFg+LbwfXz0m9YrJC6KMyv645skiqTeQrWFYuBG+Uh8IhX8jP71F0Uu9b//JILmEyS3HmXgX9if166s9Y9lH3/FU2Ac9rwSFcTAEYuSMcLh89Nj5dyxhXW/34TNwErirKGOTUZwKni+Dnrd2ZbuSqV52SFXyReCl8lwS/fpi8YxoBQvtjd2Hc42O6eW6xk6fCV0ncvsmstsMBbylcHzYXCMPUo3o2im7QhJ3q2P3QuyPZdRolbRlAzcLSq4M6h3z+UA2or/dXEYDGuQef31u/9rv8TiuzzY6xgABJm90NJpRrtwDaovlptuRHwWrf7z0bsTKpRFqZAFde8kFgAJnbVkQjyW+b5kiKCyKz5L1oT/K1l29WxQ0UDhXJHyaqBjo9Xr+MUuM+Yzgjn1NlNGh0XmsitwWz5+4AWTew8aWtQrHrDmDI9CKL7J3cOkt3ZUpy2Zkm+J3H6FfOA7U79kW1xP0GJ/vXicZQtNat/wz8="
  on:
    tags: true
    branch: master
    condition: $TOXENV = py36
  distributions: sdist bdist_wheel
